<div>
    <%= form_tag({
        controller: "sessions",
        action: "create",
        method: "post"
    }) do %>
    
    <div class="mb-3">
        <%= label_tag "user[email]", "Email:" %>
        <%= email_field_tag "user[email]" %>
    </div>
    
    <div class="mb-3">
        <%= label_tag "user[password]", "Password:" %>
        <%= password_field_tag "user[password]" %>
    </div>
    
    <%= submit_tag "Sign In", class:"btn btn-success" %>
    <% end %>
</div>