<div class="topnav">
        <%= link_to "Home", '/' %>
        <%= link_to "About", '/about' %>
        <%= link_to "Contact", '/contact' %>
        <div class="login-container">
          <%= link_to "Log in with google", "/auth/google_oauth2", method:"post" %>
          <%= link_to "Log in", '/login', method: "get" %>
          <%= link_to "Sign up", '/signup', method: "get" %>
        </div>
      </div>