
    <div class="row">
        <div class= "col">
            <%= author.label :first_name, class:"form-label" %>
            <%= author.text_field :first_name, class:"form-control" %>
        </div>
        <div class="col">
            <%= author.label :last_name, class:"form-label" %>
            <%= author.text_field :last_name, class:"form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= author.label :birth_date, class:"form-label" %>
            <%= author.date_field :birth_date, class:"form-control" %>
        </div>
        <div class="col">
            <%= author.label :death_date, class:"form-label" %>
            <%= author.date_field :death_date, class:"form-control" %>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <%= author.label :wiki_page, class:"form-label" %>
                <%= author.text_field :wiki_page, class:"form-control" %>
            </div>
            <div class="col">
                <%= author.label :image, class:"form-label" %>
                <%= author.text_field :image, class:"form-control" %>
            </div>
        </div>

