
    <div>
        <%= author.label :first_name %>
        <%= author.text_field :first_name %>
    </div>
    <div>
        <%= author.label :last_name %>
        <%= author.text_field :last_name %>
    </div>
    <div>
        <%= author.label :image %>
        <%= author.text_field :image %>
    </div>
    <div>
        <%= author.label :birth_date %>
        <%= author.date_field :birth_date %>
    </div>
    <div>
        <%= author.label :death_date %>
        <%= author.date_field :death_date %>
    </div>
    <div>
        <%= author.label :wiki_page %>
        <%= author.text_field :wiki_page %>
    </div>

