
<%= display_errors(book) %>
<%= form_for book do |f| %>
    <%= f.hidden_field :created_by, value: current_user.id %>
    
    <div class="row">
        <div class="col">
            <%= f.label :title, class:"form-label" %>
            <%= f.text_field :title, class:"form-control" %>
        </div>
        
        <div class="col">
            <%= f.label :wiki_page, class:"form-label" %>
            <%= f.text_field :wiki_page, class:"form-control" %>
        </div>
    </div>

        <div class="col">
            <%= f.label :description, class:"form-label" %>
            <%= f.text_area :description, class:"form-control" %>
        </div>
    
    <div class="row">
        <div class="col">
            <%= f.label :price, class:"form-label" %>
            <%= f.number_field :price, step: 0.1, class:"form-control" %>
        </div>
        <div class="col">
            <%= f.label :invt, class:"form-label" %>
            <%= f.text_field :invt, class:"form-control" %>
        </div>
    </div>
    <hr>
    
    <div class="form-container">
        <h4>Book author</h4>
        <h6> Choose from existing authors:</h6>
        <%= f.collection_select( :author_id, authors, :id, :full_name, {:include_blank => "Choose author"}, class:"width-33-center form-control") if authors  %>
    
    
        <h6>Or Create New Author:</h6>
        <%= f.fields_for :author do |author| %>
            <%= render partial: 'form_author', locals: {author: author} %>
        <% end %>
    </div>
    
    <hr>
    <div class="form-container">
        <h4>Book category</h4>

        <h6> Choose from existing categories:</h6>

        <%= f.collection_select( :category_id, categories, :id, :name, {:include_blank => "Choose category"}, class:"width-33-center form-control") if categories %>
   
        <h6>Or Create New Category:</h6>
        <%= f.fields_for :category do |category| %>
            <%= category.hidden_field :created_by, value: current_user.id%>
            <%= category.label :name, "Category name:", class:"form-label" %>
            <%= category.text_field :name, class:"width-33-center form-control" %>
        <% end %>
        <hr>
        <div>
            <%= f.submit class:"btn btn-success" %>
        </div>
    </div>
    
<% end %>
