<div>
    <div class="form-container">
        <%= form_tag books_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class:"form-control width-33-center" %>
            <%= submit_tag "Search by title", class:"btn btn-search width-33-center" %>
        <% end %>
    </div>
    <table class="table table-light table-striped table table-hover">
        <tr class="table-dark">
           <th> Author</th>
           <th>Title</th>
           <th>Category</th>
           <th>Price</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
            <td><%= link_to book.author.full_name, author_path(book.author) if book.author %></td>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= link_to book.category.name, category_path(book.category) if book.category %></td>
            <td><%= book.price %></td>
        </tr>
        <% end %>
    </table>
    <%= link_to "Create New Book", new_book_path, class:"btn btn-success" if is_admin? %>
</div>

