<div>
    <table class="table table-light table-striped table table-hover">
        <tr class="table-dark">
           <th> Author</th>
           <th>Title</th>
           <th>Category</th>
           <th>Price</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
            <th><%= link_to book.author.full_name, author_path(book.author) if book.author %></th>
            <th><%= link_to book.title, book_path(book) %></th>
            <th><%= link_to book.category.name, category_path(book.category) if book.category %></th>
            <th><%= book.price %></th>
        </tr>
        <% end %>
    </table>
    <div class="btn btn-success"><%= link_to "Create New Book", new_book_path if is_admin? %></div>
</div>

