<h1>this is book show page</h1>

<%= link_to "Back to all Books", books_path %>
<p>Book title: <%= @book.title %></p>
<p>Book author: <%= link_to @book.author.full_name, author_path(@book.author) if @book.author %></p>
<p>Category: <%= link_to @book.category.name, category_path(@book.category) if @book.category %></p>


<%= edit_book_by_admin(@book) %>
<%= delete_book_by_admin(@book) %>


<%= link_to "All Reviews for '#{@book.title}' book", book_reviews_path(@book.id)%>
<hr>

<h4>Reviews:</h4>
<%= render partial: "reviews/review", collection: @reviews %>
<hr>


<% if one_review_per_user_per_book(@book).empty? %>
    <%= render partial: 'reviews/form', locals: {
        review: @review,
        book: @book,
        user: current_user
    } %>
<% end %>



