<h1>this is book show page</h1>

<p>Book title: <%= @book.title %></p>
<p>Book author: <%= link_to @book.author.full_name, author_path(@book.author) if @book.author%></p>
<p>Category: <%= @book.category.name %></p>
<%= content_tag :div if is_admin? do %>
    <%= link_to "Edit Book", edit_book_path(@book) %>
    <%= link_to "Delete Book", book_path(@book), method: :delete%>
<% end %>
<%= link_to "All Reviews", book_reviews_path(@book.id)%>

<hr>
<h4>Reviews:</h4>
<% @reviews.each do |review| %>
    <div>
        <p>by:
            <b><%= review.user.full_name %></b> on <%= review.date_of_review %>
        </p>
        <p>
            <%= review.content %>
        </p> 
        <p>mark:
            <%= review.mark %>
        </p> 
       
    </div>
<% end %>


<hr>

<%= render partial: 'reviews/form', locals: {
    review: Review.new,
    book: @book,
    user: current_user
} %>

