<div>
    <%= form_for category do |c| %>
    <%= render partial: 'users/errors', locals: {user: category} if category.errors.any? %>

       <div>
            <%= c.label :name %>
            <%= c.text_field :name %>
       </div>
        <div>
            <%= c.label :description %>
            <%= c.text_area :description %>
        </div>
        <div><%= c.submit %></div>
    <% end %>
</div>