<h2><%= @category.name %></h2>
<p><%= @category.description %></p>
<%= content_tag :div do %>
    <%= link_to 'All Categories |', categories_path %>
<% end %>

<% if is_admin? %>
    <%= content_tag :div do %>
        <%= link_to "Edit |", edit_category_path(@category) %>
        <%= link_to "Delete |", category_path(@category), method: :delete %>
    <% end %>
<% end %>



<h3>Check out books we have under <%= @category.name %> category: </h3>
<% @books.each do |book| %>
    <p><%= link_to book.title, book_path(book) %></p>
<% end %>