<div>
    <h2><%= @category.name %></h2>
    <p><%= @category.description %></p>
    
    
   <div>
        <%= edit_category_by_admin(@category) %>    |
        <%= delete_category_by_admin(@category) %>
   </div>
    
    <div>
        <h3>Check out books we have under <%= @category.name %> category: </h3>
        <% @books.each do |book| %>
            <p><%= link_to book.title, book_path(book) %> by <%= link_to book.author.full_name, author_path(book.author) if book.author%></p>
        <% end %>
    </div>
</div>