<h2><%= @category.name %></h2>
<p><%= @category.description %></p>
<%= content_tag :div do %>
    <%= link_to 'All Categories |', categories_path %>
<% end %>

<%= edit_category_by_admin(@category) %>
<%= delete_category_by_admin(@category) %>




<h3>Check out books we have under <%= @category.name %> category: </h3>
<% @books.each do |book| %>
    <p><%= link_to book.title, book_path(book) %></p>
<% end %>