<div>Create new review:
    <%= form_for review do |r| %>
        <%= r.hidden_field :book_id, value: book.id %>
        <%= r.hidden_field :user_id, value: user.id %>
        <div>
            <%= r.label :content %>
            <%= r.text_area :content %>
        </div>
        <div>
            <%= r.label :mark %>
            <%= r.number_field :mark %>
        </div>
        <div>
            <%= r.submit  %>
        </div>
    <% end %>
</div>