<div>
  <%= link_to "Home", "/" %> |
  <%= link_to "Authors", authors_path%> |
  <%= link_to "Books", books_path%> |
  <%= link_to "Users", users_path if is_admin? %> |
  <%= link_to "Profile", user_path(session[:user_id]) %> 
  <%= button_to "Log out", '/logout' %>
</div>