<div>
  <%= link_to "Home", "/" %> |
  <%= link_to "Authors", authors_path%> |
  <%= link_to "Books", books_path%> |
  <%= link_to "Users", users_path %> 
  <%= button_to "Log out", '/logout' %>
</div>