<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%#     
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="heading">The Book Club</h1>
      <div class="topnav">
        <%= render partial: 'layouts/nav_bar' %>
      </div>
      <%= render partial: 'shared/flash' %>
      
        <%= yield %>
      
  </body>
</html>
