<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="heading">The Book Club</h1>
      <hr>
      <div class="topnav">
        <%= link_to "Home", '/' %>
        <%= link_to "About", '/about' %>
        <%= link_to "Contact", '/contact' %>
        <div class="login-container">
          <%= link_to "Log in with google", "/auth/google_oauth2", method:"post" %>
          <%= link_to "Log in", '/login', method: "get" %>
          <%= link_to "Sign up", '/signup', method: "get" %>
        </div>
      </div>
      <div>
        <% flash.each do |type, msg| %>
          <% if type== "alert" %>
            <%= content_tag :div, msg, class:"alert alert-danger"%>
            <% else %>
            <%= content_tag :div, msg, class:"alert alert-success"%>
          <% end %>
        <% end %>
      </div>
      <hr>
     <div class="container"> 
      <%= yield %>
    </div>
    </div>
  </body>
</html>

