<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="heading">The Book Club</h1>
      
      <%= render partial: 'shared/nav_bar_login_sigin' %>
      <%= render partial: 'shared/flash' %>
    
     
      <%= yield %>
    
    </div>
  </body>
</html>

