<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>The Book Club</h1>
    <hr>
    <%= button_to "Log in with google", "/auth/google_oauth2" %>
    <%= button_to "Log in", '/login', method: "get" %>
    <%= button_to "Sign up", '/signup', method: "get" %>
    <hr>
    <div>
      <% flash.each do |type, msg| %>
        <% if type== "alert" %>
          <%= content_tag :div, msg, class:"alert alert-danger"%>
          <% else %>
          <%= content_tag :div, msg, class:"alert alert-success"%>
        <% end %>
      <% end %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
